<div id="conteneur">
  <img src="../../../assets/images/logo_covoisin_white.png" alt="Logo CoVoisin" class="offset-md-1 col-md-1">

  <h1 class="col-md-12">La plateforme collaborative<br/> du quartier la Cotonne Montferré</h1>

  <form class="col-md-12">
    <div>
      <label for="pseudo">Pseudo</label><br/>
      <input type="text" id="pseudo" placeholder="Votre pseudo">
    </div>

    <div>
      <label for="password">Password</label><br/>
      <input type="password" id="password" placeholder="Votre mot  de passe">
    </div>

    <button type="submit" id="connexion">Connexion</button>
  </form>

  <div id="inscription-block">
    <button id="inscription">Inscription</button>
  </div>
</div>
