<div id="conteneur">
  <img src="../../../assets/images/logo_covoisin_white.png" alt="Logo CoVoisin" class="offset-md-1 col-md-1">

  <h1 class="col-md-12">La plateforme collaborative<br/> du quartier la Cotonne Montferré</h1>

  <form class="col-md-12">
    <div class="connexion-form">
      <label for="pseudo">Pseudo</label><br/>
      <input type="text" id="pseudo" placeholder="Votre pseudo">
    </div>

    <div class="connexion-form">
      <label for="password">Password</label><br/>
      <input type="password" id="password" placeholder="Votre mot  de passe">
    </div>

    <a routerLink="/accueil"><button type="submit" id="connexion" class="btn btn-lg">Connexion</button></a>
  </form>

  <div id="inscription-block">
    <a routerLink="/inscription"><button id="inscription" class="btn btn-lg">Inscription</button></a>
  </div>
</div>
