<header class="col-md-12">
  <img src="../../assets/images/logo_covoisin_white.png" alt="logoCoVoisin" class="offset-md-1 col-md-1" id="logo"/>

  <div class="offset-md-1 col-md-3">
    <img src="../../assets/images/portrait-bruno-rond.png" alt="Photo de profil" id="profil">

    <p>Bonjour <strong>Bruno</strong>, <br/> vous avez <strong>40 points</strong></p>
  </div>

  <nav class="col-md-5">
    <ul>
      <a routerLink="/accueil"><li>Accueil</li></a>
      <li>Créer votre offre/demande</li>
      <li>Profil</li>
      <a routerLink="/index"><li>Déconnexion</li></a>
    </ul>
  </nav>
</header>
