<header class="col-md-12">
  <img src="../../assets/images/logo_covoisin_white.png" alt="logoCoVoisin" class="offset-md-1 col-md-1" id="logo"/>
</header>

<h2>Formulaire d'offre</h2>

<form>
  <div>
    <label for="title">Titre de votre offre</label>
    <input type="text" id="title" placeholder="Votre titre" name="title" [(ngModel)]="title">
  </div>

  <div>
    <label for="category">Catégorie</label>
    <input type="text" id="category" placeholder="Catégorie" name="category" [(ngModel)]="category">
  </div>

  <div>
    <label for="description">Description</label>
    <input type="text" id="description" placeholder="Détailler" name="description" [(ngModel)]="description">
  </div>

  <div>
    <label for="userId">Votre identifiant</label>
    <input type="number" id="userId" placeholder="Votre identifiant" name="userId" [(ngModel)]="userId">
  </div>

  <div>
    <label for="status">Etat de l'offre</label>
    <input type="number" id="status" placeholder="Etat" name="status" [(ngModel)]="status">
  </div>

  <div>
    <label for="pointsNumber">Nombre de points proposé</label>
    <input type="number" id="pointsNumber" placeholder="Votre numéro de téléphone" name="pointsNumber" [(ngModel)]="pointsNumber">
  </div>

  <button type="submit" (click)="createOffer(title, category, description, userId, status, pointsNumber)">Valider</button>
</form>

<app-footer></app-footer>
