<div id="conteneur">
  <p id="title-infos" class="offset-1 col-md-10"><span>BIENVENUE</span><br/>
      Sur la 1ère plateforme collaborative du quartier du quartier de la Cotonne Montferré !<br/>
      Une plateforme d’entraide à destination du quartier, basé sur le partage, l’échange de biens et de services.<br/>
      Que vous souhaitiez proposer ou recevoir des biens, services ou compétences,<br/>
    <span>vous êtes au bon endroit</span> !
  </p>

  <div class="row col-md-12">
    <div class="categories offset-md-2 col-md-2">
      <img src="../../../assets/images/noun_1113265_cc.png" alt="Logo dons" id="logoDons">

      <h5>DONS</h5>

      <p>Un livre, un outil, ou quelque chose qui ne vous sert plus chez vous… Offrez vos objets à vos voisins !</p>
    </div>

    <div class="categories col-md-2">
      <img src="../../../assets/images/noun_225624_cc.png" alt="Logo compétences">

      <h5>COMPÉTENCES</h5>

      <p>Cuisine, bricolage, couture, dessin… Partagez vos savoirs-faire entre voisins !</p>
    </div>

    <div class="categories col-md-2">
      <img src="../../../assets/images/noun_406880_cc.png" alt="Logo prêts">

      <h5>PRÊTS</h5>

      <p>Appareil à raclette, outil, livre, vélo.. partagez vos objets pour qu’ils ne prennent pas la poussière </p>
    </div>

    <div class="categories col-md-2">
      <img src="../../../assets/images/noun_542812_cc.png" alt="Logo services">

      <h5>SERVICES</h5>

      <p>Transport des enfants à l’école, garde d’animaux, covoiturage, emménagement… Proposez et trouvez des services !</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
