<app-header></app-header>
<app-navigation-laterale></app-navigation-laterale>

<div class="row col-md-12">
  <div class="col-md-6 lists">
    <h2>Liste des offres</h2>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Auteur</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Nombre de points</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let offer of offers | filterBy : filter1 | orderBy : order : true">
        <td>{{offer.offerDate}}</td>
        <td><a routerLink="/profil/{{offer.offerUserId}}">Profil</a></td>
        <td>{{offer.offerTitle}}</td>
        <td>{{offer.offerCategory}}
        <td>{{offer.offerDescription}}</td>
        <td>{{offer.offerPointsNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6 lists">
    <h2>Liste des demandes</h2>

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Auteur</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Description</th>
        <th>Nombre de points</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let request of requests | filterBy : filter2 | orderBy : order : true">
        <td>{{request.requestDate}}</td>
        <td><a routerLink="/profil/{{request.requestUserId}}">Profil</a></td>
        <td>{{request.requestTitle}}</td>
        <td>{{request.requestCategory}}
        <td>{{request.requestDescription}}</td>
        <td>{{request.requestPointsNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
