<app-header></app-header>
<app-navigation-laterale></app-navigation-laterale>

<h2 class="offset-md-1">Informations de {{user.username}}</h2>

<ul class="offset-md-1 col-md-4">
  <li>Nom d'utilisateur: {{user.username}}</li>
  <li>Nombre de points: {{user.pointsNumber}}
  <li>Email: {{user.email}}</li>
  <li>Prénom: {{user.firstName}}</li>
  <li>Nom: {{user.lastName}}</li>
  <li>Numéro de téléphone: {{user.phoneNumber}}</li>
  <li>Addresse: {{user.address}}</li>
</ul>

<app-footer></app-footer>
