<form>
  <div>
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" placeholder="Votre pseudo">
  </div>

  <div>
    <label for="password">Mot de passe</label>
    <input type="password" id="password" placeholder="Votre mot  de passe">
  </div>

  <div>
    <label for="firstName">Prénom</label>
    <input type="text" id="firstName" placeholder="Votre prénom">
  </div>

  <div>
    <label for="lastName">Nom</label>
    <input type="text" id="lastName" placeholder="Votre nom">
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Votre email">
  </div>

  <div>
    <label for="phoneNumber">Nom</label>
    <input type="text" id="phoneNumber" placeholder="Votre numéro de téléphone">
  </div>

  <div>
    <label for="address">Addresse</label>
    <input type="text" id="address" placeholder="Votre addresse">
  </div>

  <button type="submit">Valider</button>
</form>

