<aside class=slider id="slider">
  <div>
    <a routerLink="/dons">
      <img src="../../assets/images/noun_1113265_cc.png" alt="Logo dons">

      <p>Dons</p>
    </a>
  </div>

  <div>
    <a routerLink="/competences">
      <img src="../../assets/images/noun_225624_cc.png" alt="Logo compétences">

      <p>Compétences</p>
    </a>
  </div>

  <div>
    <a routerLink="/prets">
      <img src="../../assets/images/noun_406880_cc.png" alt="Logo prêts">

      <p>Prêts</p>
    </a>
  </div>

  <div>
    <a routerLink="/services">
      <img src="../../assets/images/noun_542812_cc.png" alt="Logo services">

      <p>Services</p>
    </a>
  </div>

  <button onclick="document.getElementById('slider').classList.toggle('open');"> > </button>
</aside>
