<aside class=slider id="slider">
  <div>
    <img src="../../assets/images/noun_1113265_cc.png" alt="Logo dons">

    <p>Dons</p>
  </div>

  <div>
    <img src="../../assets/images/noun_225624_cc.png" alt="Logo compétences">

    <p>Compétences</p>
  </div>

  <div>
    <img src="../../assets/images/noun_406880_cc.png" alt="Logo prêts">

    <p>Prêts</p>
  </div>

  <div>
    <img src="../../assets/images/noun_542812_cc.png" alt="Logo services">

    <p>Services</p>
  </div>

  <button onclick="document.getElementById('slider').classList.toggle('open');"> > </button>
</aside>
