<footer class="section footer col-md-12">
  <div class="footer-bottom" >
    <div class="container" >
      <div class="col-md-12">
          <a href="https://www.telecom-st-etienne.fr/" target="_blank">
            <img id="logoTSE" src="../../assets/images/logoTSE.png" alt="logo TSE">
          </a>
          <a href="https://www.telecom-st-etienne.fr/formations/design-tech-academie-2/" target="_blank">
            <img id="logoDTA" src="../../assets/images/logoDTA.png" alt="logo DTA">
          </a>
        </div>
      <div class="col-md-12">
        <div class="droit">Libre de droit avec affichage de l'auteur. Made with Love by DESIGN TECH ACADEMIE</div>
      </div>
    </div>
  </div>
</footer>
